In [2]:
import pandas as pd
import csv

In [21]:
# Encoding that was used for the dataset is ISO-8859-15

o3_2023 = pd.read_csv("../data/raw/O3/2023_O3.csv", encoding = 'ISO-8859-15', sep =';', skiprows = 9)
o3_2024_01 = pd.read_csv("../data/raw/O3/2024_01_O3.csv", encoding = 'ISO-8859-15', sep =';', skiprows = 9)
o3_2024_02 = pd.read_csv("../data/raw/O3/2024_02_O3.csv", encoding = 'ISO-8859-15', sep =';', skiprows = 9)
o3_2024_03 = pd.read_csv("../data/raw/O3/2024_03_O3.csv", encoding = 'ISO-8859-15', sep =';', skiprows = 9)
o3_2024_04 = pd.read_csv("../data/raw/O3/2024_04_O3.csv", encoding = 'ISO-8859-15', sep =';', skiprows = 9)
o3_2024_05 = pd.read_csv("../data/raw/O3/2024_05_O3.csv", encoding = 'ISO-8859-15', sep =';', skiprows = 9)
o3_2024_06 = pd.read_csv("../data/raw/O3/2024_06_O3.csv", encoding = 'ISO-8859-15', sep =';', skiprows = 9)
o3_2024_07 = pd.read_csv("../data/raw/O3/2024_07_O3.csv", encoding = 'ISO-8859-15', sep =';', skiprows = 9)

In [22]:
o3_2023.head()

,Component,Bep.periode,Eenheid,Begindatumtijd,Einddatumtijd,NL10107,NL10131,NL10133,NL10138,NL10230,...,NL10644,NL10722,NL10738,NL10742,NL10807,NL10818,NL10918,NL10929,NL10934,NL10938
0,O3,uur,µg/m³,2024-06-01T00:00:00+01:00,2024-06-01T01:00:00+01:00,74.37,65.82,71.90,68.14,72.48,...,71.14,59.32,71.34,68.49,60.20,57.63,77.31,56.17,78.99,72.49
1,O3,uur,µg/m³,2024-06-01T01:00:00+01:00,2024-06-01T02:00:00+01:00,69.99,64.03,63.91,64.32,74.57,...,65.12,60.73,63.19,65.33,57.12,64.37,77.59,58.38,73.72,73.12
2,O3,uur,µg/m³,2024-06-01T02:00:00+01:00,2024-06-01T03:00:00+01:00,63.40,64.80,62.56,63.22,68.65,...,61.47,55.47,54.59,60.32,58.48,70.81,73.17,60.21,72.38,73.31
3,O3,uur,µg/m³,2024-06-01T03:00:00+01:00,2024-06-01T04:00:00+01:00,57.22,61.39,62.07,58.11,62.48,...,60.73,48.51,48.81,54.97,55.49,66.05,68.78,56.91,73.59,73.27
4,O3,uur,µg/m³,2024-06-01T04:00:00+01:00,2024-06-01T05:00:00+01:00,61.36,57.02,59.64,58.02,53.92,...,62.29,37.01,67.75,49.58,60.90,62.83,68.55,58.64,67.98,71.76

In [ ]:
# Utrecht-Kardinaal de Jongweg id : NL10636
# Utrecht-Griftpark id: NL10643

In [27]:
def filter_data(data):
    return data[['Component', 'Einddatumtijd', 'NL10643']]
                

filtered_o3_2023 = filter_data(o3_2023)
filtered_o3_2024_01 = filter_data(o3_2024_01)
filtered_o3_2024_02 = filter_data(o3_2024_02)
filtered_o3_2024_03 = filter_data(o3_2024_03)
filtered_o3_2024_04 = filter_data(o3_2024_04)
filtered_o3_2024_05 = filter_data(o3_2024_05)
filtered_o3_2024_06 = filter_data(o3_2024_06)
filtered_o3_2024_07 = filter_data(o3_2024_07)

  Component              Einddatumtijd  NL10643
0        O3  2024-01-01T01:00:00+01:00    53.12
1        O3  2024-01-01T02:00:00+01:00    65.62
2        O3  2024-01-01T03:00:00+01:00    67.92
3        O3  2024-01-01T04:00:00+01:00    66.68
4        O3  2024-01-01T05:00:00+01:00    65.04

In [37]:
filtered_o3 = pd.concat([filtered_o3_2023, filtered_o3_2024_01, filtered_o3_2024_02,
                         filtered_o3_2024_03, filtered_o3_2024_04, filtered_o3_2024_05,
                         filtered_o3_2024_06, filtered_o3_2024_07], axis = 0)

In [38]:
filtered_o3 = filtered_o3.reset_index(drop = True)
filtered_o3

      Component              Einddatumtijd  NL10643
0            O3  2023-01-01T01:00:00+01:00    46.03
1            O3  2023-01-01T02:00:00+01:00    54.45
2            O3  2023-01-01T03:00:00+01:00    58.59
3            O3  2023-01-01T04:00:00+01:00    59.80
4            O3  2023-01-01T05:00:00+01:00    63.02
...         ...                        ...      ...
13867        O3  2024-07-31T20:00:00+01:00    98.96
13868        O3  2024-07-31T21:00:00+01:00    87.55
13869        O3  2024-07-31T22:00:00+01:00    80.46
13870        O3  2024-07-31T23:00:00+01:00    68.12
13871        O3  2024-08-01T00:00:00+01:00    62.49

[13872 rows x 3 columns]

In [41]:
filtered_o3.to_csv('../data/processed/filtered_03.csv', index = False)